.formulario-edicao {
  background-color: #111;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  color: #FFA500;
  box-shadow: 0 0 30px rgba(255, 165, 0, 0.4);
  margin-top: 80px;
}

.formulario-edicao label {
  display: block;
  margin-top: 15px;
  font-size: 1.1rem;
}

.formulario-edicao input,
.formulario-edicao select,
.formulario-edicao textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: #FFA500;
  font-size: 1rem;
}

.formulario-edicao button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #FFA500;
  border: none;
  color: #000;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario-edicao button:hover {
  background-color: #FF8C00;
}
